<body class="grey lighten-3 container-fluid">
  <header class="header container-fluid__header">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="navbar__content container-fluid">
        <a href="#" class="navbar-brand waves-effect"><strong class="blue-text">Admin Section</strong></a>
        <button class="navbar-toggler navbar-container__button" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon button__inner">

          </span>
        </button>

        <div class="collapse navbar-collapse navbar__menu">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="#" class="nav-link waves-effect">Главная</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link waves-effect">Пользователи</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <aside class="sidebar">
    <div class="sidebar-fixed sidebar__content">
      <div class="list-group list-group-flush sidebar__list">
        <a href="" class="list-group-item waves-effect">
          <i class="fa fa-pie-chart mr-3"></i>Dashboard
        </a>
        <a href="" class="list-group-item waves-effect">
          <i class="fa fa-user mr-3"></i>Profile
        </a>
        <a href="" class="list-group-item waves-effect">
          <i class="fa fa-table mr-3"></i>Tables
        </a>
      </div>
    </div>
  </aside>

  <main class="pt5 max-lg-5 main">
    <div class="container-fluid mt-5 ">
      <h4 class="mb-2 mb-sm-0 pt-1">
        <a href="#">Home Page</a>
        <span> / </span>
        <span> Dashboard </span>
      </h4>
      <form action="" class="d-flex justify-content-center">
        <input type="search" class="form-control" placeholder="Введите свой запрос">
        <button class="btn btn-primary btn-sm p" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>


      <div class="pt-5 poll_result main__content">
         <input type="button" id="example" value="Вывести все результаты" /> 
      <div class="main__content_result">
      </div>
      </div>
    </div>
  </main>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
   <script type="text/javascript" src="/js/admin/admin.js"></script>
 
</body>