<body>
<div class="container">

 <form action="/admin" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Зарегистрируйтесь</h2>
        <label for="inputEmail" class="sr-only">Логин</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
      </form>

<div class="messageSubmit"></div>

</div>
<script type="text/javascript" src="/js/enter.js"></script>
</body>