.flex {display: flex;}
.justify-center {justify-content: center;}
.justify-space-between {justify-content: space-between;}
.align-center {align-items: center;}

.bg-grey-1 {background-color: #fafafa;}